@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&display=swap');

:root {
    --black: #09011e;
    --background: #a18bdd;
    --background-corpo: #FFFAFF;
    --header: #DAD3EE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Noto Sans", sans-serif;
    -webkit-tap-highlight-color: #7700ff1c;
  }

header {
    background-color: var(--header);
    display: flex;
    gap: 10px;
    padding: 5px;
    justify-content: space-around;
}

.logo {
    display: flex;
    gap: 10px;
    align-self: center;
    font-weight: 800;
    font-size: 20px;
    align-items: center;
    text-decoration: none;
    color: var(--black);
}

.logo svg {
    height: auto;
    max-width: 70px;
}

.nav-itens {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: space-evenly;
}

.nav-itens a {
    display: flex;
    align-items: center;
    gap: 3px 5px;
    font-weight: 500;
    padding: 10px 10px;
    transition: .3s;
    color: var(--black);
    text-decoration: none;
    width: auto;
    text-align: center;
    margin: auto;
    flex-grow: 1;
    border-radius: 12px;
}

.nav-itens a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.active {
    background-color: var(--black) !important;
    border-radius: 12px;
    color: white !important;
}

@media (max-width: 785px) {
    
    header {
        flex-direction: column;
    }

    .nav-itens {
        gap: 5px;
    }

    .nav-itens a {
        flex-direction: column;
        font-size: 15px;
    }

}

/* Páginas */

.corpo {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.text {
    display: flex;
    width: 1200px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-corpo);
    height: auto;
    padding: 25px 15px 45px;
    margin-top: 25px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px 0px rgba(90, 0, 255, 0.2);
}

.text h1 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 30px;
}

.text-content {
    display: flex;
    flex-direction: column;
    padding: 25px;
    max-width: 900px;
    align-self: center;
    text-align: center;
    font-weight: 300;
}

.text-content h2 {
    font-weight: 500;
    margin: 20px;
}

.descrição {
    text-align: justify;
    border: .5px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 0 16px;
    text-indent: 16px;
}

.descrição p {
    margin: 16px 0;
}

/* Card */



.card img {
    width: 100%;
    border-radius: 12px;
    min-height: 214px;
    object-fit: cover;
}

.container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 20px;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--background-corpo);
    border: 1px solid #bacdd8;
    color: var(--black);
    padding: 8px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    height: 550px;
    text-decoration: none;
    box-shadow: 0px 5px 20px 0px rgba(0, 153, 255, 0.2);
    transition: .1s;
}

.card:hover {
    transform: scale(1.02);
}

.saude {
    box-shadow: 0px 5px 20px 0px rgba(255, 0, 0, 0.2);
}

.util {
    box-shadow: 0px 5px 20px 0px rgba(0, 255, 0, 0.2);
}

.name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.descricao-card {
    font-size: 14px;
    line-height: 150%;
    margin: 20px;
    max-width: 266px;
    max-height: 200px;
}

.leia-mais {
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background-color: #d4e7fc;
  }

.card_details {
    padding: 16px 8px 8px;
    margin-top: auto;
    flex-direction: column;
    display: flex;
    height: 100%;
}

.bottom_aligner {
    margin-top: auto;
    margin-bottom: 5px;
}




/* Pages */



.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}
  
.mySlides img {
    user-select: none;
    max-width: 100%;
    border-radius: 12px;
    object-fit: cover;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 8px 14px;
    color: var(--background-corpo);
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 16px;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
}

.prev:hover, .next:hover {
    background-color: rgb(32, 0, 51);
    transform: scale(1.1);
}

.next {
    right: 0;
    margin-right: 5px;
}

.prev {
    left: 0;
    margin-left: 5px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots {
    margin: 20px;
}
  
.active-dot, .dot:hover {
    background-color: #717171;
}
  
.fade {
    animation-name: fade;
    animation-duration: .5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* Mapa */

.mapa a {
    text-decoration: none;
    color: var(--black);
}

.minimap {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    z-index: 1;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0.3px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

/* tabela */

.text-content table {
    border: .5px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 3px;
    width: 100%;
}

.text-content th {
    background-color: var(--background);
    border-radius: 12px;
}

.text-content td {
    width: 25%;
}