@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    background: #372b41;
}

.navbar-text {
    text-decoration: none;
    color: #d6d6d6;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
}

.navbar-text:hover {
   color: cyan;
   scale: 1.1;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 25px 10%;
}

.corpo {
    background: #d6d6d6;
    border-radius: 10px;
}

.logo {
    cursor: pointer;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}